#navigationHelp {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  text-align: center;
  background-color: rgba(50, 50, 50, 0.8);
}

#navigationHelp h1 {
  margin: 40px;
}
