#counter {
  position: absolute;
  top: 30px;
  right: 40px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.15em;
  animation: fadein 3s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
