.Container {
  padding: 20px;
  display: grid;
  gap: 20px;
}

@media (max-width: 519px) {
  .Container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 520px) and (max-width: 839px) {
  .Container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 840px) and (max-width: 1023px) {
  .Container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .Container {
    grid-template-columns: repeat(4, 1fr);
  }
}

.Album {
  margin: 0;
  border-radius: 2px;
  position: relative;
}

.Album:hover {
  filter: brightness(120%);
}

.Thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
}

.Caption {
  width: 100%;
  width: -moz-available; /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  width: fill-available;
  opacity: 0.8;
  color: white;
  background-color: #272727;
  font-size: 14px;
  padding: 6px 6px 6px 8px;
  position: absolute;
  bottom: 0;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
